<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nice.otis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission..ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.SDKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".MainActivity" />
        <!-- 倒计时的Service -->
        <service
            android:name=".service.RegisterCodeTimerService"
            android:enabled="true" />

        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.ModifyPassActivity" />
        <activity android:name=".ui.activity.SortListActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.RanKingActivity" />
        <activity android:name=".ui.activity.BrandAttrActivity" />
        <activity android:name=".index.BrandIndexActivity" />
        <activity android:name=".ui.activity.PersonDataActivity" />
        <activity android:name=".ui.activity.SecurityActivity" />
        <activity android:name=".ui.activity.MaterialActivity" />
        <activity android:name=".ui.activity.NoticeActivity" />
        <activity android:name=".ui.activity.NoticeDetailsActivity" />
        <activity android:name=".ui.activity.SecurityDetailsActivity" />
        <activity android:name=".ui.activity.TroubleshootingActivity" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MemberActivity" />
        <activity android:name=".ui.activity.MyPointActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".ui.activity.AgreementActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.RanKingDetailsActivity"/>
    </application>

</manifest>